/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* general rules  */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.underline{
  text-decoration: underline;
}

/************==============================utility classes==============================********************/
.flex{
  display: flex;
}
.btn{
  padding: 3px;
  border-radius: 3px;
  border: 1px solid brown;
  color: brown;
}
.bgblack{
  background-color: #1F271B;
  color: white;
}
/*  ==============================NAV============================== */
nav{
  justify-content: space-between;
  align-items: center;
  background-color: #1F271B;
  height: 15vh;
}
nav a img{
  height:auto;
  width: 10vh;
}
#logo{
 width :10%;
}

nav ul{
  list-style-type: none;
}
nav li{
  font-size: 0.8em;
  margin: 0 1em;
}
nav ul li a{
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  color: grey;
  text-decoration: none;
}


/*  ==============================HEADER============================== */
header{
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header .bigtitle h1{
  text-align: center; 
  font-size: xx-large;
  border: 3px solid white;
  color: white;
}
header p{
  font-size: x-large;
  font-weight: bold;
  color:white;
  text-align: center;
}

/*  ==============================SECTIONS============================== */
h2{
  font-size: medium;
  text-align: center;
  margin: 1em;
}
article{
height: 70vh;
width: 80%;
display: flex;
flex-direction: column;
align-items: center;
margin: 1em auto;
padding: 2em;
background-color: #E3DBDB;
border-radius: 1em;
font-size: small;
position: relative;
}
.imageproduct{
  height: 30%;
  width: 80%;
}
.imageproduct img{
  width: 100%;
  height: 100%;
}
.article-description{
  height: 30%;
  width: 80%;
}
.avisclient{
  display: none;
}
.oldprice{
  color: red;
  text-decoration: line-through;
}
.newprice{
  color: green;
}
article a{
  position: absolute;
  right: 12px;
  bottom: 12px;
}


/*  ==============================FOOTER============================== */
footer{
  color: white;
  background-color: #1F271B;
  height: 30vh;
  padding: 20px;
  justify-content: flex-end;
}
.maap{
  width:auto;
  text-align: center;
}

.social{
  align-items: center;
  justify-content: space-around;
  color: white;
  display: flex;
}
footer .social p{
  margin: 10px;
}
footer iframe{
  height: auto;
  width: 70%;
}
/*  ==============================FORM============================== */
form{
  height: 50vh;
  flex-direction: column;
 
  justify-content: space-around;
}
input{
  height: 3vh;
}

/*  ==============================ABOUT============================== */

.ytvideo{
  width: 80%;
  margin: 2em auto;
}
.textabout{
width: 80%;
margin: 1em auto;
padding: 2em;
background-color: #E3DBDB;
border-radius: 1em;
font-size: medium;
}


/*  ==============================PRESTATIONS============================== */
table
{
    border-collapse: collapse;
    margin: 5vh;
    width: 70%;
}
td, th 
{
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
tbody img{
  height: 20%;
}
thead{
  background-color:#E3DBDB ;
}


/*  ==============================DROPDOWN BUTTON============================== */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* MEDIA QUERIES */

@media screen and (min-width:351px){
  article{
    height: 55vh;
  }
  .article-description{
    height: 40%;
    width: 80%;
  }
  .imageproduct{
    height: 50%;
    width: 80%;
  }
}
@media screen and (min-width:768px){
/*  ==============================NAV============================== */
  nav li{
    font-size: 1.8em;
    margin: 0 1em;
  }
/*  ==============================HEADER============================== */
header .bigtitle h1{
  font-size: 5em;
}
header .bigtitle p{
  font-size: 2em;
}
 /*  ==============================SECTIONS============================== */
 main h2{
   font-size: 2em;
 }
 article{
  height: 50vh;
  justify-content: center;
  flex-direction: row;
 }
 .imageproduct{
  height: 60%;
  width: 45%;
  margin: 1em;
 }
 .article-description{
  height: 60%;
  width: 45%;
 }
 .avisclient{
  display: block;
}
}
@media screen and (min-width:992px){

}
@media screen and (min-width:1200px){
section{
  display: flex;
  flex-wrap: wrap;
}
 article{
  width: 40%;
  height: 60vh;
}
}
/* ===
=======================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
